<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" href="http://image.binghai.site/data/f_87815682.css">
    <title>฿ 财富自由</title>
</head>

<body>
<div id="ice-container"></div>
<script src="https://g.alicdn.com/code/npm/??react/16.2.0/umd/react.development.js,react-dom/16.2.0/umd/react-dom.development.js"></script>
<script type="text/javascript" charset="utf-8" src="http://image.binghai.site/data/f_93720729.js" id="ice-script"></script>
</body>

</html>