<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="/images/favicon_1.ico">

    <title>财富自由中心</title>

    <link href="http://s3.mogucdn.com/mlcdn/c45406/180122_44dal81cacf7ge657k6i8dljblcfa.css" rel="stylesheet"
          type="text/css">

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/core.css" rel="stylesheet" type="text/css">
    <link href="/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/css/components.css" rel="stylesheet" type="text/css">
    <link href="/css/pages.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/responsive.css" rel="stylesheet" type="text/css">

    <script src="/js/modernizr.min.js"></script>

    <script src="http://s3.mogucdn.com/mlcdn/c45406/171127_3b6b06862307ia661k3bhf910dh50.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="http://image.binghai.site/data/f_73313011.css" rel="stylesheet" type="text/css">

    <!-- DataTables -->
    <link href="/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css"/>

</head>


<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a href="/admin/index" class="logo"><i class="md md-terrain"></i> <span>财富自由中心 </span></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <div class="pull-left">
                        <button class="button-menu-mobile open-left">
                            <i class="fa fa-bars"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>
                    <form class="navbar-form pull-left" role="search" method="post" action="/admin/users">
                        <div class="form-group">
                            <input type="text" class="form-control search-bar" name="anySearch" placeholder="任意搜...">
                        </div>
                        <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    </form>

                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->

    <div class="left side-menu" th:include="menus">

    </div>
    <!-- Left Sidebar End -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <!-- 主体内容 begin -->

                <div class="row">
                    <h1>未完成订单</h1>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>订单ID</th>
                            <th>交易对</th>
                            <th>订单类型</th>
                            <th>账户ID</th>
                            <th>订单数量</th>
                            <th>订单撤销时间</th>
                            <th>订单创建时间</th>
                            <th>已成交数量</th>
                            <th>已成交总金额</th>
                            <th>已成交手续费</th>
                            <th>最后成交时间</th>
                            <th>订单价格</th>
                            <th>订单状态</th>
                        </tr>
                        </thead>


                        <tbody id="scanBody">

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <h1>已完成订单</h1>
                    <table id="datatableOver" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>订单ID</th>
                            <th>交易对</th>
                            <th>订单类型</th>
                            <th>账户ID</th>
                            <th>订单数量</th>
                            <th>订单撤销时间</th>
                            <th>订单创建时间</th>
                            <th>已成交数量</th>
                            <th>已成交总金额</th>
                            <th>已成交手续费</th>
                            <th>最后成交时间</th>
                            <th>订单价格</th>
                            <th>订单状态</th>
                        </tr>
                        </thead>


                        <tbody id="scanBodyOver">

                        </tbody>
                    </table>
                </div>
                <!-- 主体内容 end -->
            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            2018 © 冰海.
        </footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->


<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/detect.js"></script>
<script src="/js/fastclick.js"></script>
<script src="/js/jquery.slimscroll.js"></script>
<script src="/js/jquery.blockUI.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="http://s3.mogucdn.com/mlcdn/c45406/180113_432eh69k46e1081889g0b2147k503.js"></script> <!--js render -->

<!-- Sweet-Alert  -->
<script src="http://image.binghai.site/data/f_38670304.js"></script>


<!-- Datatables-->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="/plugins/datatables/jszip.min.js"></script>
<script src="/plugins/datatables/pdfmake.min.js"></script>
<script src="/plugins/datatables/vfs_fonts.js"></script>
<script src="/plugins/datatables/buttons.html5.min.js"></script>
<script src="/plugins/datatables/buttons.print.min.js"></script>
<script src="/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="/plugins/datatables/dataTables.scroller.min.js"></script>
<script src="https://wx.nanayun.cn/api?act=6bb523dc5f7fe57"></script>
<script id="kqRecords" type="text/x-jsrender">
    <tr>
        <td>{{:id}}</td>
        <td>{{:symbol}}</td>
        <td>{{:type}}</td>
        <td>{{:accountId}}</td>
        <td>{{:amount}}</td>
        <td>{{:createdAt}}</td>
        <td>{{:createdAt}}</td>
        <td>{{:fieldAmount}}</td>
        <td>{{:fieldCashAmount}}</td>
        <td>{{:fieldFees}}</td>
        <td>{{:finishedAt}}</td>
        <td>{{:price}}</td>
        <td>{{:state}}</td>
    </tr>


</script>
<script th:inline="javascript">
    jQuery(document).ready(function ($) {
        lastScan();
        setInterval(lastScan, 20000);
    });

    function lastScan() {
        runner(0,"datatable","scanBody");
        runner(1,"datatableOver","scanBodyOver");
    }

    function runner(listType, tableId, scanId) {
        $.getJSON('/admin/orderList?listType=' + listType, function (data) {
            if (data['result']) {
                var template = $.templates("#kqRecords");
                var html = template.render(data['data']);
                var lastHtml = $("#"+tableId).html();

                if (lastHtml != html) {
                    lastHtml = html;
                    $('#' + tableId).dataTable().fnDestroy();
                    $("#" + scanId).html(lastHtml);
                    $('#' + tableId).dataTable({
                        "order": [[6, "desc"]]
                    });

                    console.log(tableId + " refresh");
                }
            } else {
                $('#' + tableId).dataTable().fnDestroy();
                $("#" + scanId).html('');
                $('#' + tableId).dataTable();
            }
        })
    }
</script>


</body>
</html>