<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新闻详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
</head>

<body>
<div class="page-group">
    <div class="page page-current">
        <!-- 你的html代码 begin -->
        <div class="content">
            <h2 align="center">突发新闻</h2>
            时间:<span style="color: red" th:text="${data.createdTime}"></span><br>
            利好:<span style="color: red" th:text="${data.up_counts}"></span>       利空:<span style="color: green" th:text="${data.down_counts}"></span>
            <p th:text="${data.content}"></p>
        </div>
        <!-- 你的html代码 end -->
    </div>
</div>
<script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
</body>

</html>