<div class="sidebar-inner slimscrollleft">
    <!--- Divider -->
    <div id="sidebar-menu">
        <ul>
            <li>
                <a href="/admin/index" class="waves-effect waves-light " id="menu_1"><i
                        class="md md-home"></i><span> 数据概览 </span></a>
            </li>

            <li>
                <a href="/historyOrder" class="waves-effect waves-light "><i
                        class="md md-picture-in-picture"></i><span> 所有订单 </span></a>
            </li>
            <li>
                <a href="kq.html" class="waves-effect waves-light"><i
                        class="md  ion-ios7-timer"></i><span> 考勤管理 </span></a>
            </li>
            <li>
                <a href="print" class="waves-effect waves-light"><i
                        class="md ion-printer"></i><span> 数据打印 </span></a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>