<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订阅虚拟货币变动</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
</head>

<body>
<div class="page-group">
    <div class="page page-current">
        <!-- 你的html代码 begin -->
        <div class="content">
            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">我的订阅</a>
                <a href="#tab2" class="tab-link button">订阅中心</a>
                <a href="#tab3" class="tab-link button">水位订阅</a>
            </div>
            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="list-block media-list">
                        <ul>
                            <li th:each="record:${myList}">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title" th:text="${record.baseCoin + '/'+record.quoteCoin}">BTC/USDT</div>
                                            <div class="item-after">
                                                <label class="label-switch">
                                                    <input type="checkbox" th:onchange="${'del('+record.id+')'}" checked="checked">
                                                    <div class="checkbox"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <div class="list-block media-list">
                        <ul>
                            <li th:each="record,iterStat:${allList}">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title" th:text="${record.baseCurrency + '/'+record.quoteCurrency}">BTC/USDT</div>
                                            <div class="item-after">
                                                <label class="label-switch">
                                                    <input th:id="${'tmp_b_'+iterStat.index}" th:value="${record.baseCurrency}" type="hidden"/>
                                                    <input th:id="${'tmp_q_'+iterStat.index}" th:value="${record.quoteCurrency}" type="hidden"/>
                                                    <input type="checkbox" th:onchange="${'add('+iterStat.index+')'}">
                                                    <div class="checkbox"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <div class="list-block">
                        <ul>
                            <!-- Text inputs -->
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label">具体币种</div>
                                        <div class="item-input">
                                            <input type="text" id="bCoin" placeholder="具体币种">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-gender"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label">计价币种</div>
                                        <div class="item-input">
                                            <select id="qCoin">
                                                <option value="usdt">USDT</option>
                                                <option value="btc">BTC</option>
                                                <option value="eth">ETH</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label">目标水位</div>
                                        <div class="item-input">
                                            <input type="text" id="targetL" placeholder="目标水位">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="content-block">
                        <p><a onclick="subForm()" class="button button-big">添加</a></p>
                    </div>
                    <p align="center">我的未完成监控</p>
                    <div class="list-block media-list">
                        <ul>
                            <li th:each="rec:${monitorList}">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title" th:text="${rec.baseCoin+'/'+rec.quoteCoin+' @ '+rec.targetValue}">BTC/USDT @ 11100</div>
                                            <div class="item-after">
                                                <label class="label-switch">
                                                    <input type="checkbox" th:onchange="${'delMonitor('+rec.id+')'}" checked="checked">
                                                    <div class="checkbox"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 你的html代码 end -->
    </div>
</div>
<script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
</body>

<script th:inline="javascript">
    var openId = [[${openid}]];

    function del(id) {
        $.getJSON('/wx/delWatch?openid='+openId+'&id='+id,function (data, status) {
            if(data.result){
                window.location.reload();
            }else{
                $.alert(data.msg);
            }
        })
    }

    function add(idx) {
        var bb = $("#tmp_b_"+idx).val();
        var qq = $("#tmp_q_"+idx).val();
        $.getJSON('/wx/addWatch?openid='+openId+'&b='+bb+'&q='+qq,function (data, status) {
            if(data.result){
                window.location.reload();
            }else{
                $.alert(data.msg);
            }
        })
    }

    function subForm() {
        var bcoin = $("#bCoin").val();
        var qcoin = $("#qCoin").val();
        var targetL = $("#targetL").val();

        $.getJSON('/wx/addWxMonitor?openid='+openId+'&b='+bcoin+'&q='+qcoin+'&t='+targetL,function (data, status) {
            if(status != 'success'){
                $.alert('输入有误!');
                return;
            }

            if(data.result){
                window.location.reload();
            }else{
                $.alert(data.msg);
            }
        })
    }

    function delMonitor(id) {
        $.getJSON('/wx/delWxMonitor?id='+id+'&openid='+openId,function (data) {
            if(data.result){
                window.location.reload();
            }
        })
    }
</script>

</html>